
<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se tiver alguma duvida ou sugestao, fale conosco
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" alt="Envelope enviar email"/>
            </span>
            <h5><email endereco="franciscogurgel@me.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <span>
                <img src="~/Images/phone-app-icon.png"/>
            </span>
            <h5>+351 939743899</h5>
            <br/>
            <span>
                <img src="~/Images/Home-iconred.png"/>
            </span>
            <h5>Rua da UTAD, 344 5030-444 - Vila Real</h5>
        </p>
    </div>
</div>